$transition: all 0.5s ease-in-out;

input[type="button"],
input[type="submit"],
form,
textarea {
  -moz-appearance   : none;
  -webkit-appearance: none;
  appearance        : none;
}

@mixin flexXjustifyCentered {
  display        : flex;
  justify-content: center;
}

@mixin flexXalignCentered {
  display    : flex;
  align-items: center;
}

@mixin flexXcentered {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

@mixin initDropdownState {
  opacity   : 0;
  display   : none; //disable to get transition
  position  : absolute;
  list-style: none;
  margin    : 0;
  height    : 0;
  top       : 0;
  transition: $transition;
}

@mixin showDropdown {
  opacity         : 1;
  display         : flex;
  height          : auto;
  flex-direction  : column;
  padding         : 10px 0px;
  background-color: #f1f1f1;
  border-radius   : 5px;
  width           : 140px;
  box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top             : 100%;
}

.categories {
  @include flexXjustifyCentered;

  .title {
    padding-right: 0.75em;
  }

  .categories-dd {
    position       : relative;
    display        : flex;
    justify-content: flex-start;
    font-size      : calc(10px + 1.5vmin);

    .selectedCategory {
      border       : 1px solid grey;
      border-radius: 4px;
      padding      : 0px 10px;
      font-size    : calc(10px + 1.25vmin);
      box-shadow   : 0px 4px 9px 0px rgba(0, 0, 0, 0.2);

      &::after {
        content  : '\00a0\00a0\25BC';
        font-size: 0.6em;
      }
    }

    ul,
    ul li ul {
      @include initDropdownState;
    }

    .selectedCategory:hover+ul,
    ul:hover {
      @include showDropdown;
      z-index: 1;
    }

    li {
      position: relative;
      padding : 5px 0px 5px 10px;

      &:hover {
        cursor          : pointer;
        background-color: #ddd;
      }
    }

    ul li:hover ul,
    ul li:focus-within ul,
    ul li ul:hover {
      @include showDropdown;
      top    : 60%;
      left   : 60%;
      z-index: 10;
    }
  }
}