$fontFamily: "Caveat", "Monaco";
$primaryColor: #5bba47;
$primaryColorHovered: #54744d;
$secondaryColor: rgba(0, 0, 0, 0.85);
$secondaryColorInverted: invert(
  $color: $secondaryColor,
);
$secondaryColorHovered: rgba(0, 0, 0, 0.75);
$secondaryColorDisabled: rgba(0, 0, 0, 0.5);
$alternateDarkOrange: rgba(230, 128, 3, 1);
$alternateDarkOrangeHovered: rgba(230, 128, 3, 0.75);
$alertColor: #c91818;
$mcCheckboxSize: 18px;
$ulHandheldWidthOnHover: 110px;
$formBoxShadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
$focusBoxShadow: 0px 0px 0px 2px #5bba47;
$focusBoxShadowInset: inset 0px 0px 2px 2px #5bba47;
$focusBoxShadowSecondary: 0px 0px 2px 2px rgba(0, 0, 0, 0.85);
$transition: all 0.5s ease-in-out;

input[type="button"],
input[type="submit"],
form,
a {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
  color: $secondaryColorInverted;
  font-family: $fontFamily;
}

h3 {
  margin: 0;
}

textarea {
  font-family: $fontFamily;
}

button,
input[type="button"],
input[type="submit"] {
  background-color: $secondaryColor;
  color: $secondaryColorInverted;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $secondaryColorHovered;
  }
}

input[type="submit"].disabled {
  background-color: $secondaryColorDisabled;
  pointer-events: none;
  cursor: not-allowed;

  &:active,
  &:focus {
    border: 2px solid $primaryColor;
  }
}

input[type="button"] {
  background-color: $secondaryColorDisabled;

  &:hover,
  &:focus {
    background-color: $secondaryColorHovered;
  }

  &:active,
  &:focus {
    border: 1px solid $secondaryColor;
  }
}

@mixin flexXjustifyCentered {
  display: flex;
  justify-content: center;
}

@mixin flexXalignCentered {
  display: flex;
  align-items: center;
}

@mixin flexXcentered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin initDropdownState {
  opacity: 0;
  background-color: $secondaryColor;
  display: none; //disable to get transition
  position: absolute;
  list-style: none;
  margin: 0;
  height: 0;
  top: 0;
  transition: $transition;
}

@mixin showDropdown {
  opacity: 1;
  display: flex;
  height: auto;
  flex-direction: column;
  padding: 10px 0px;
  background-color: #f1f1f1;
  border-radius: 5px;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 100%;
}

@mixin focus {
  outline: none;
  box-shadow: $focusBoxShadow;
}

@mixin focusInset {
  outline: none;
  box-shadow: $focusBoxShadowInset;
}

@mixin focusBoxShadowSecondary {
  outline: none;
  box-shadow: $focusBoxShadowSecondary;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.categories {
  @include flexXjustifyCentered;

  .title {
    padding-right: 0.75em;
  }

  .categories-dd {
    position: relative;
    display: flex;
    justify-content: flex-start;
    font-size: calc(10px + 1.25vmin);
    outline: none;

    .selectedCategory {
      position: relative;
      border: 1px solid $primaryColor;
      border-radius: 4px;
      padding: 0px 10px;
      font-size: calc(10px + 1.25vmin);
      font-weight: 600;

      &[data-content="-"] {
        min-width: 10vmin;
        text-align: center;
        &::after {
          position: absolute;
          top: calc(2.5px + 0.625vmin);
          right: 1vmin;
        }
      }

      &::after {
        content: "\00a0\00a0\25BC";
        font-size: 0.6em;
      }
    }

    ul,
    ul li ul {
      @include initDropdownState;
    }

    &:hover .selectedCategory,
    &:focus .selectedCategory {
      @include focus;
    }

    &:hover > ul,
    &:focus > ul,
    ul:hover,
    ul:focus,
    ul:focus-within {
      @include showDropdown;
      background-color: $secondaryColor;
      z-index: 10;
    }

    li {
      position: relative;
      color: $secondaryColorInverted;
      padding: 5px 0px 5px 10px;

      &:hover,
      &:focus,
      &.active {
        cursor: pointer;
        outline: none;
        background-color: $primaryColor;
      }
    }

    ul li:hover ul,
    ul li:focus ul,
    ul li:focus-within ul,
    ul li ul:hover,
    ul li ul:focus,
    ul li ul:focus-within,
    li.active ul,
    li.focus ul {
      @include showDropdown;
      width: 155px;
      background-color: $secondaryColor;
      top: 60%;
      left: 60%;
      z-index: 10;
    }

    ul li:focus-within {
      background-color: $primaryColor;
    }
  }
}

.mcCheckboxContainer {
  position: relative;
  display: flex;
  cursor: pointer;

  input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    opacity: 0;
    z-index: -1;
  }

  @mixin showCheckmark {
    top: 0px;
    left: 6px;
    content: "";
    width: 4px;
    position: absolute;
    height: 14px;
    border: solid $primaryColor;
    border-width: 0 2px 2px 0;
    transform: rotate(38deg);
  }

  input[type="checkbox"] + .mcCheckboxHidden {
    position: absolute;
    width: $mcCheckboxSize;
    height: $mcCheckboxSize;
    border: 1px solid $secondaryColor;
    border-radius: 3px;
    transition: all 150ms;
    z-index: 1;
  }

  input[type="checkbox"] + .mcCheckboxHidden:hover,
  input[type="checkbox"] + .mcCheckboxHidden:focus {
    box-shadow: 0 0 2px 2px $primaryColor;
  }

  input[type="checkbox"]:active,
  input[type="checkbox"]:focus,
  input[type="checkbox"]:focus-within {
    & + .mcCheckboxHidden {
      box-shadow: 0 0 2px 2px $primaryColor;
    }
  }

  input[type="checkbox"]:checked + .mcCheckboxHidden {
    background-color: $secondaryColor;
  }

  input[type="checkbox"]:checked + .mcCheckboxHidden::before {
    @include showCheckmark;
  }

  .mcCheckboxLabel {
    margin-left: calc(10px + #{$mcCheckboxSize});
  }
}

@mixin borderAroundProfiles {
  border: 1px solid #54744d;
  border-radius: 3px;
  padding: 1vmin;
}

.success {
  color: $primaryColor;
}

.error {
  color: red;
}

.profileMenu {
  background-image: url("../assets/menu.svg");
  background-size: cover;
}

.enlarge {
  background-image: url("../assets/enlarge.svg");
}

.edit {
  background-image: url("../assets/edit.svg");
}

.delete {
  background-image: url("../assets/delete.svg");
}

@mixin imageActionBtn {
  width: 30px;
  height: 30px;
  top: 15px;
  right: 15px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid $secondaryColor;
  border-radius: 50px;
  cursor: pointer;
}

@mixin spinner {
  display: inline-block;
  background-image: url("../assets/spinner.svg");
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  animation: rotation 0.5s infinite linear;
}
