@media only screen and (max-device-width: 599px) {
  .MC-App {
    .mcHeader {
      @include flexXalignCentered;
      height: 8vmax;
      justify-content: space-around;

      .logoSection {
        flex-basis: 55%;
        margin-left: 1vmax;

        .logo {
          width: 6vmax;
          height: 6vmax;
          margin: 0 0.2rem;
        }

        #brand-name {
          font-size: 1.3rem;
          margin-left: 0.3rem;
        }
      }

      .actionSection {
        justify-content: space-evenly;
        flex-basis: 45% !important;

        & > * {
          cursor: pointer;
        }

        .categories {
          @include flexXalignCentered;

          .title {
            display: none;
          }

          .categories-dd {
            justify-content: flex-end;
            font-size: 0.85rem;

            & > * {
              font-size: 1rem;
            }

            .selectedCategory {
              font-weight: 500;
            }

            .selectedCategory:hover + ul,
            .selectedCategory:focus + ul,
            ul:hover,
            ul:focus {
              left: auto;
              width: $ulHandheldWidthOnHover;
            }

            ul li:hover ul,
            ul li:focus ul,
            ul li:focus-within ul,
            ul li ul:hover,
            ul li ul:focus {
              left: -95%;
              width: $ulHandheldWidthOnHover;
            }
          }
        }

        .profiles {
          font-size: 1.5rem;
          .profileMenu {
            width: 1.25rem !important;
            height: 1.25rem !important;
          }

          ul {
            width: $ulHandheldWidthOnHover !important;
          }
        }
      }
    }

    .mcBody {
      height: calc(100vh - 8vmax);
      padding-top: 8vmax; //w.r.to header height

      .upload-form,
      .imageActionFormContainer .editForm {
        .categories .categories-dd {
          justify-content: flex-end;

          .selectedCategory:hover + ul,
          .selectedCategory:focus + ul,
          ul:hover,
          ul:focus {
            left: auto;
            width: 110px;
          }

          ul li:hover ul,
          ul li:focus ul,
          ul li:focus-within ul,
          ul li ul:hover,
          ul li ul:focus {
            left: -95%;
            width: 110px;
          }
        }
      }

      .home {
        .categoryCard {
          max-width: calc(100vw - 40px) !important;
          margin: 20px 0px !important;
          .thumbnail {
            img,
            .fallback {
              width: calc(100vw - 80px) !important;
              height: calc(
                2 / 3 * (100vw - 80px)
              ) !important; // aspect ratio 3:2
            }
          }
          .title {
            font-size: 1.1rem !important;
          }
        }
      }

      .category-home {
        .fetchingCurrentUserDetails,
        .fetchingImages .spinner {
          width: 40px !important;
          height: 40px !important;
        }

        .images-container {
          & > * {
            flex-basis: 90% !important;
            height: auto !important;
            margin: 1.75% !important;
          }
        }
      }

      .banner {
        max-width: 70%;
      }

      .swStatus {
        bottom: 20px !important;
        margin: 0px 10px !important;
        & > * {
          font-size: 1rem !important;
        }

        button {
          margin: 0px 10px !important;
        }
      }

      .aboutme {
        height: 100%;
        margin: 0 !important;
        padding: 15px 20px !important;
        border-radius: 0 !important;
        section:nth-child(1) {
          flex-direction: column-reverse;
          & > * {
            width: 100% !important;
          }

          .profile {
            margin-bottom: 1.25rem;
          }
        }
      }
    }

    .mcFooter {
      height: 2rem;
      padding: 0.25rem 0;
      font-size: 1rem !important;

      .linkedin,
      .github {
        height: 1rem !important;
        width: 1rem !important;
      }
    }
  }
}
