@media only screen and (max-device-width: 599px) {
  .MC-App {
    .mcHeader {
      @include flexXalignCentered;
      height: 8vmax;
      justify-content: space-around;

      .logoSection {
        flex-basis: 55%;
        margin-left: 1vmax;
        @include flexXalignCentered;

        .logo {
          width: 6vmax;
          height: 6vmax;
          margin: 0 1vmin;
        }

        .branding-title {
          font-size: calc(10px + 2vmin);
          margin-left: 1vmin;
        }
      }

      .actionSection {
        justify-content: space-evenly;
        font-size: calc(10px + 2.5vmin);
        flex-basis: 45% !important;

        & > * {
          cursor: pointer;
        }

        .categories {
          @include flexXalignCentered;

          .title {
            display: none;
          }

          .categories-dd {
            justify-content: flex-end;
            font-size: calc(10px + 1.5vmin);

            .selectedCategory {
              font-size: calc(10px + 1.5vmin);
              font-weight: 500;
            }

            .selectedCategory:hover + ul,
            ul:hover {
              left: auto;
              width: $ulHandheldWidthOnHover;
            }

            ul li:hover ul,
            ul li:focus-within ul,
            ul li ul:hover {
              left: -95%;
              width: $ulHandheldWidthOnHover;
            }
          }
        }

        .profiles {
          .profileMenu {
            width: 4vmin !important;
            height: 4vmin !important;
          }

          ul {
            width: $ulHandheldWidthOnHover !important;
          }
        }
      }
    }

    .mcBody {
      height: calc(100vh - 8vmax);
      padding-top: 8vmax; //w.r.to header height

      .upload-form,
      .imageActionFormContainer .editForm {
        .categories .categories-dd {
          justify-content: flex-end;

          .selectedCategory:hover + ul,
          ul:hover {
            left: auto;
            width: 110px;
          }

          ul li:hover ul,
          ul li:focus-within ul,
          ul li ul:hover {
            left: -95%;
            width: 110px;
          }
        }
      }

      .category-home {
        .fetchingCurrentUserDetails,
        .fetchingImages .spinner {
          width: 40px !important;
          height: 40px !important;
        }

        .imageContainer {
          picture {
            pointer-events: none !important;
          }
        }

        .images-container {
          & > * {
            flex-basis: 90% !important;
            height: auto !important;
            margin: 1.75% !important;
          }
        }
      }

      .banner {
        max-width: 70%;
      }
    }

    .mcFooter {
      height: 5vmin;
      padding: 1vmin 0;

      .linkedin,
      .github {
        height: 3vmin !important;
        width: 3vmin !important;
      }
    }
  }
}
