$laptop_header_height: 4vmax;

@media only screen and (min-device-width: 1200px) and (max-device-width: 1899px) {
  .MC-App {
    .mcHeader {
      @include flexXalignCentered;
      height         : $laptop_header_height;
      justify-content: space-between;

      .logoSection {
        flex-basis: 60%;
        @include flexXalignCentered;

        .logo {
          width      : $laptop_header_height;
          height     : $laptop_header_height;
          margin-left: 7vmin;
        }

        .branding-title {
          font-size  : calc(10px + 4vmin);
          margin-left: 5vmin;
        }
      }

      .actionSection {
        @include flexXalignCentered;
        flex-basis: 40%;
        font-size : calc(10px + 2.5vmin);

        &>* {
          @include flexXalignCentered;
          cursor: pointer;
        }

        .categories {
          flex-basis: 40%;
          font-size : calc(10px + 2vmin);
        }

        .profiles {
          flex-basis     : 60%;
          justify-content: space-around;
        }
      }
    }

    .mcBody {
      min-height : calc(100vh - 5vmax);
      padding-top: $laptop_header_height; //w.r.to header height
    }

    .mcFooter {
      height: 5vmin;
    }
  }
}