@media only screen and (min-device-width: 1200px) and (max-device-width: 1899px) {
  .MC-App {
    .mcHeader {
      @include flexXalignCentered;
      height         : 5vmax;
      justify-content: space-around;

      .logoSection {
        flex-basis: 60%;
        @include flexXalignCentered;

        .branding-title {
          font-size  : calc(10px + 4vmin);
          margin-left: 15vmin;
        }
      }

      .actionSection {
        @include flexXalignCentered;
        flex-basis: 40%;
        font-size : calc(10px + 2.5vmin);

        &>* {
          @include flexXalignCentered;
          cursor: pointer;
        }

        .categories {
          flex-basis: 40%;
          font-size : calc(10px + 2vmin);
        }

        .profiles {
          flex-basis     : 60%;
          justify-content: space-around;
        }
      }
    }
  }
}