// @media only screen and (min-device-width: 600px) and (max-device-width: 899px) {}

@media only screen and (min-device-width: 600px) and (max-device-width: 1199px) {
  .MC-App {
    .mcHeader {
      @include flexXalignCentered;
      height         : 5vmax;
      justify-content: space-around;

      .logoSection {
        flex-basis: 55%;
        @include flexXalignCentered;

        .logo {
          width : 5vmax;
          height: 5vmax;
        }

        .branding-title {
          font-size  : calc(10px + 3vmin);
          margin-left: 2vmin;
        }
      }

      .actionSection {
        flex-basis: 45%;
        @include flexXalignCentered;
        font-size: calc(10px + 1.5vmin);

        &>* {
          @include flexXalignCentered;
        }

        .categories {
          flex-basis: 40%;

          .title {
            font-size    : calc(10px + 1.25vmin);
            padding-right: 0.5em;
          }

          .categories-dd,
          .categories-dd .selectedCategory {
            font-size: calc(10px + 0.25vmin);


            li {
              font-size: calc(10px + 1vmin);
            }
          }

          .categories-dd .selectedCategory {
            border: 1px solid $primaryColor;
          }
        }

        .profiles {
          flex-basis     : 60%;
          justify-content: space-around;

          &>* {
            width      : 3vmin !important;
            height     : 3vmin !important;
            line-height: 3vmin !important;
          }
        }
      }
    }

    .mcBody {
      min-height : calc(100vh - 5vmax);
      padding-top: 5vmax; //w.r.to header height

      .upload-form {
        top: 20% !important;
      }
    }

    .mcFooter {
      height: 5vmin;
    }
  }
}