// @media only screen and (min-device-width: 600px) and (max-device-width: 899px) {}

@media only screen and (min-device-width: 600px) and (max-device-width: 1199px) {
  .MC-App {
    .mcHeader {
      @include flexXalignCentered;
      height: 5vmax;
      justify-content: space-around;

      .logoSection {
        flex-basis: 55%;
        @include flexXalignCentered;

        .logo {
          width: 5vmax;
          height: 5vmax;
          margin: 0 2vmin;
        }

        .branding-title {
          font-size: calc(10px + 3vmin);
          margin-left: 2vmin;
        }
      }

      .actionSection {
        font-size: calc(10px + 1.5vmin);

        & > * {
          @include flexXalignCentered;
          align-items: baseline;
        }

        .categories {
          .title {
            font-size: calc(10px + 1.25vmin);
            padding-right: 0.5em;
          }

          .categories-dd,
          .categories-dd .selectedCategory {
            font-size: calc(10px + 0.75vmin);

            li {
              font-size: calc(10px + 1vmin);
            }
          }

          .categories-dd .selectedCategory {
            border: 1px solid $primaryColor;
          }
        }
      }
    }

    .mcBody {
      min-height: calc(100vh - 5vmax);
      padding-top: 5vmax; //w.r.to header height

      .fetchingCurrentUserDetails,
      .fetchingImages .spinner {
        width: 60px !important;
        height: 60px !important;
      }

      .upload-form {
        top: 20% !important;
      }

      .banner {
        max-width: 70%;
      }
    }

    .mcFooter {
      height: 5vmin;
    }
  }
}
