.category-home {
  position: relative;
  width: 100vw;

  .imageContainer {
    position: relative;
    &:hover,
    &:focus,
    &:focus-within {
      .editImage .actions {
        display: block;
      }
    }
  }

  & > .imageContainer {
    width: 100%;
    margin-bottom: 0.5vw;

    picture img {
      display: block;
      width: 100%;
      outline: none;
    }

    .imageActionFormContainer {
      border-radius: 0px;
      .editForm {
        min-width: 30%;
      }
    }
  }

  .images-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > * {
      // aspect-ratio set while rendering
      &:not(.panorama):not(.portrait) {
        flex-basis: 48.75vw;
      }

      &.portrait {
        flex-basis: 31vw;
      }

      .imageActionFormContainer {
        .editForm {
          min-width: 50%;
        }
      }

      &.panorama {
        .editForm {
          min-width: 30%;
        }
      }

      height: auto;
      margin: 0.5vw;
      border-radius: 5px;
      box-shadow: 10px 10px 10px #40383830;
      align-self: flex-start;

      picture {
        display: block;
        width: 100%;

        img {
          display: block;
          width: 100%;
          border-radius: 5px;
        }
      }
    }
  }
}
