.category-home {
  position: relative;
  width: 100%;
  height: 100vh;
  /* padding: 15px; Removed to allow full width main image */
  box-sizing: border-box;

  .imageContainer {
    position: relative;
    &:hover,
    &:focus,
    &:focus-within {
      .editImage .actions {
        display: block;
      }
    }
  }

  & > .imageContainer {
    width: 100%;
    margin-bottom: 0px;

    picture img {
      display: block;
      width: 100%;
      outline: none;
    }

    .imageActionFormContainer {
      border-radius: 0px;
      .editForm {
        min-width: 30%;
      }
    }
  }

  .my-masonry-grid {
    display: flex;
    margin-left: 0px; /* Reset negative margin to allow left padding to act as gap */
    padding-right: 15px; /* Add right gap */
    padding-top: 15px; /* Add top gap (works for both falling main image and no main image) */
    width: auto;
  }

  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size */
    background-clip: padding-box;
  }

  .my-masonry-grid_column > div {
    /* change div to your element's tag name */
    background: grey;
    margin-bottom: 15px;
    border-radius: 5px;

    picture {
      display: block;
      width: 100%;

      img {
        display: block;
        width: 100%;
        border-radius: 5px;
      }
    }

    &.portrait {
      /* flex-basis: 31vw; - No longer needed */
    }

    &.panorama {
      .editForm {
        min-width: 30%;
      }
    }

    height: auto;
    // margin: 0.5vw; - Handled by gutter
    border-radius: 5px;
    box-shadow: 10px 10px 10px var(--color-shadow);
    align-self: flex-start;
  }
}
