.uploadOrSignInContainer {
  position: relative;
  width: 100vw;

  .upload-form form,
  .signin-form form {
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--secondary-color);
    height: 320px;
    width: 320px;
    border-radius: 5px;
    padding: 0px 15px;
    top: 40%;
    transform: translateY(-50%);
    border-top: 5px solid var(--secondary-color);
    box-shadow: var(--form-box-shadow);

    .requestStatus,
    .loginStatus {
      display: flex;
      justify-content: flex-start;
      font-size: 1.25em;
      & > div {
        display: flex;
        align-items: center;

        .processing {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .upload-form {
    form {
      & > * {
        width: 100%;
      }

      input[type='submit'],
      input[type='button'],
      textarea,
      .categories {
        font-size: 1.25em;
        padding: 4px 0;
        border-radius: 4px;
        outline: none;
      }

      textarea {
        font-size: 1rem;
        font-weight: 600;
        min-height: 65px;
        resize: none;
        border: 1px solid var(--secondary-color);

        &.error {
          border: 1px solid red;
        }
      }

      .categories {
        .title {
          font-size: 0.75em;
        }

        .selectedCategory {
          box-shadow: none;
          font-size: 1rem;
        }
      }

      .resolutionCbToggles {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-weight: 600;
      }

      input[type='submit'] {
        font-weight: 600;
      }

      input[type='file'] {
        visibility: hidden;
        height: 1px;
        width: 1px;
      }
    }
  }

  .signin-form {
    form {
      height: auto;
      & > label {
        color: var(--alternate-dark-orange);
        font-size: 1.5em;
      }
      & > * {
        display: flex;
        flex-direction: column;
        margin: 10px 10px;
        & > label {
          font-size: 1.25em;
          margin: 5px 0px;
          &::after {
            content: '*';
            color: var(--alternate-dark-orange);
          }
        }
      }
      input {
        min-height: 2.25rem;
        border: 1px solid var(--secondary-color);
        border-radius: 2px;
        outline: none;
        font-size: 1em;
        font-weight: 600;
        &:focus {
          border: 1px solid #5bba47;
        }
      }
      .signin,
      .changePwd {
        flex-direction: row;
        justify-content: space-between;
        input {
          width: 50%;
          font-size: 1.25em;
          font-weight: 600;
          border-radius: 3px;
          color: var(--primary-color);
        }
      }
    }
  }

  .fetchingCurrentUserDetails {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 40%;
  }
}
