@import "./styles/fonts.scss";
@import "./styles/common.scss";
@import "./styles/handhelds.scss";
@import "./styles/tablets.scss";
@import "./styles/laptops.scss";
@import "./styles/desktops.scss";
@import "./styles/print.scss";

.MC-App {
  font-family: $bodyFontFamily;
  font-weight: 400;

  .mcHeader {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: $secondaryColor;
    color: $secondaryColorInverted;
    font-family: $headingsFontFamily;

    .logoSection {
      @include flexXalignCentered;

      &:focus {
        @include focusInset;
      }

      & > * {
        cursor: pointer;
      }

      .logo {
        background-image: url("logo.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      #brand-name {
        font-weight: 700;
      }
    }

    .actionSection {
      @include flexXalignCentered;
      justify-content: space-around;
      flex-basis: 40%;

      .profiles {
        position: relative;
        display: flex !important;
        margin: 0px 5px;

        .profileMenu {
          width: 1.75rem;
          height: 1.75rem;
        }

        ul {
          @include initDropdownState;
          right: 0;

          li {
            position: relative;
            font-size: 0.75em;
            padding: 5px 0px 5px 10px;

            a {
              display: block;
              text-decoration: none;
            }

            &:hover,
            &:focus,
            &:focus-within {
              cursor: pointer;
              outline: none;
              background-color: $primaryColor;
            }
          }
        }

        &:hover > ul,
        &:focus > ul,
        &:focus-within > ul,
        ul:hover,
        ul:focus {
          @include showDropdown;
          background-color: $secondaryColor;
          z-index: 1;
        }

        &:focus {
          @include focus;
        }
      }
    }
  }

  .mcBody {
    position: relative;
    color: $secondaryColor;
    background-color: $secondaryColorInverted;
    overflow-y: auto;
    @include flexXjustifyCentered;

    .loadingContainer {
      @include flexXjustifyCentered;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .spinner {
        @include spinner;
        position: absolute;
        width: 80px;
        height: 80px;
        top: 40%;
      }
    }

    .banner {
      position: absolute;
      @include flexXcentered;
      flex-direction: column;
      width: 100%;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;

      .title {
        font-weight: 600;
        font-size: 2rem;
      }

      .refresh {
        padding: 5px 20px;
        color: $primaryColor;
        background-color: $secondaryColor;
        border-radius: 4px;
        font-family: $bodyFontFamily;
        font-size: 1.3rem;
        transform: translateY(10px);
        outline: none;

        &:hover {
          background-color: $secondaryColorHovered;
        }

        &:focus {
          @include focus;
        }
      }
    }

    .uploadOrSignInContainer {
      position: relative;
      width: 100vw;
      @include flexXjustifyCentered;

      .upload-form,
      .signin-form {
        @include flexXcentered;
        form {
          @include flexXjustifyCentered;
          position: absolute;
          flex-direction: column;
          justify-content: space-evenly;
          color: $secondaryColor;
          height: 320px;
          width: 320px;
          color: $secondaryColor;
          border-radius: 5px;
          padding: 0px 15px;
          top: 40%;
          transform: translateY(-50%);
          border-top: 5px solid $secondaryColor;
          box-shadow: $formBoxShadow;

          .requestStatus,
          .loginStatus {
            display: flex;
            justify-content: flex-start;
            font-size: 1.25em;
            & > div {
              display: flex;
              align-items: center;

              .processing {
                @include spinner;
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }

      .upload-form {
        form {
          & > * {
            width: 100%;
          }

          input[type="submit"],
          input[type="button"],
          textarea,
          .categories {
            font-size: 1.5em;
            border-radius: 4px;
            outline: none;
          }

          textarea {
            font-size: 1rem;
            min-height: 65px;
            resize: none;
            border: 1px solid $secondaryColor;

            &.error {
              border: 1px solid red;
            }
          }

          .categories {
            .title {
              font-size: 0.75em;
            }

            .selectedCategory {
              box-shadow: none;
              font-size: 1.25rem;
            }
          }

          .resolutionCbToggles {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            font-weight: 600;

            & > * {
              margin: 0px 1rem;
            }
          }

          input[type="submit"] {
            font-weight: 600;
          }

          input[type="file"] {
            visibility: hidden;
            height: 1px;
            width: 1px;
          }
        }
      }

      .signin-form {
        form {
          font-weight: 600;
          & > label {
            color: $alternateDarkOrange;
            font-size: 1.75em;
          }
          & > * {
            display: flex;
            flex-direction: column;
            margin: 10px 10px;
            & > label {
              font-size: 1.25em;
              margin: 5px 0px;
              &::after {
                content: "*";
                color: $alternateDarkOrange;
              }
            }
          }
          input {
            min-height: 2.25rem;
            border: 1px solid $secondaryColor;
            border-radius: 2px;
            outline: none;
            font-size: 1em;
            font-family: $bodyFontFamily;
            &:focus {
              border: 1px solid #5bba47;
            }
          }
          .signin,
          .changePwd {
            flex-direction: row;
            justify-content: space-between;
            input {
              width: 50%;
              font-size: 1.25em;
              font-weight: 600;
              border-radius: 3px;
              color: $primaryColor;
            }
          }
        }
      }

      .fetchingCurrentUserDetails {
        @include spinner;
        position: absolute;
        width: 80px;
        height: 80px;
        top: 40%;
      }
    }

    .home {
      height: 100%;
      @include flexXjustifyCentered;
      flex-wrap: wrap;
      background-color: $secondaryColorInverted;
      .categoryCard {
        background-color: $secondaryColor;
        max-width: 360px;
        border-radius: 20px;
        margin: 20px;
        box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.2);

        .thumbnail {
          display: flex;
          padding: 20px;
          padding-bottom: 10px;
          img,
          .fallback {
            width: 280px;
            height: calc(2 / 3 * 280px);
            border-radius: 20px;
          }

          .fallback {
            @include flexXalignCentered;
            color: $secondaryColor;
            background-color: $secondaryColorInverted;
            text-align: center;

            span {
              padding: 0px 15px;
              font-size: 1.25em;
              font-family: $bodyFontFamily;
            }
          }
        }
        .title {
          font-size: 1.5em;
          font-weight: 600;
          padding: 0px 20px 10px 20px;
          color: $secondaryColorInverted;
        }
        & > a:focus {
          @include focus;
          display: block;
          border-radius: inherit;
        }
      }
    }

    .category-home {
      position: relative;
      width: 100vw;

      .imageContainer {
        position: relative;
        &:hover,
        &:focus,
        &:focus-within {
          .editImage .actions {
            display: block;
          }
        }
      }

      & > .imageContainer {
        width: 100%;
        margin-bottom: 0.5vw;

        picture {
          width: 100%;

          img {
            display: block;
            width: 100%;
            outline: none;
          }
        }

        .imageActionFormContainer {
          border-radius: 0px;
          .editForm {
            min-width: 30%;
          }
        }
      }

      .images-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        & > * {
          &:not(.panorama):not(.portrait) {
            flex-basis: 48.75vw; //keeping aspect ratio => 3:2
            height: calc(48.75vw * 0.666); //change them both simultaneously
          }

          &.portrait {
            flex-basis: 31vw;
            height: calc(31vw * 1.5);
          }

          .imageActionFormContainer {
            .editForm {
              min-width: 50%;
            }
          }

          &.panorama {
            .editForm {
              min-width: 30%;
            }
          }

          margin: 0.5vw;
          border-radius: 5px;
          box-shadow: 10px 10px 10px #40383830;

          picture {
            width: 100%;

            img {
              display: block;
              width: 100%;
              border-radius: 5px;

              &:focus {
                @include focus;
              }
            }
          }
        }
      }
    }

    .descriptionContainer {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0.5em;
      font-size: 1.25rem;
      color: $secondaryColorInverted;
      word-break: break-word;
      mix-blend-mode: luminosity;
    }

    .editImage {
      .actions {
        display: none;
        & > * {
          @include imageActionBtn;
          width: 2vmax;
          height: 2vmax;
          position: absolute;
          padding: 3px;
          border: none;
          border-radius: 3px;
          &:hover {
            transform: scale3d(1.1, 1.1, 1.1);
          }

          &:focus {
            @include focus;
          }
        }

        .enlarge {
          width: 2vmax;
        }

        .edit {
          right: calc(15px + 2vmax + 15px);
        }

        .delete {
          right: calc(15px + 4vmax + 30px);
        }
      }

      .imageActionFormContainer {
        @include flexXcentered;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 5px;
        background-color: $secondaryColorInverted;
        cursor: auto;

        .deleteConfirmation,
        .editForm {
          position: absolute;
          background-color: $secondaryColor;
          box-shadow: $formBoxShadow;
          border-radius: 5px;
          padding: 1vmax;
          top: 30%;

          .confirmationTxt {
            font-size: 1.5em;
            font-weight: 600;
          }

          textarea {
            resize: none;
            border: 1px solid $secondaryColor;
            border-radius: 3px;
            margin-top: 1rem;
            outline: 0;
            width: calc(100% - 4px);
            font-size: 1.1em;
          }

          .categories .categories-dd,
          .categories .categories-dd .selectedCategory {
            font-size: 1em;
          }
          .actionAndStatus {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-top: 1rem;
            min-height: 2rem;
            line-height: 2rem;

            .deleteActions,
            .editActions {
              display: flex;
              justify-content: flex-end;
              & > * {
                padding: 0 1.25rem;
                border-radius: 2px;
                border: 1px solid $secondaryColorInverted;
                font-size: 1em;
                font-weight: 600;
              }
              .yesDelete,
              .yesEdit {
                margin-left: 2rem;
                background-color: $alertColor;
                &:hover,
                &:focus {
                  border-color: $alternateDarkOrange;
                }
                &:disabled {
                  background-color: lightgray;
                  cursor: not-allowed;
                }
              }

              .yesEdit {
                background-color: $alternateDarkOrange;
                &:not([disabled]):hover,
                &:not([disabled]):focus {
                  border-color: $alternateDarkOrangeHovered;
                }
              }

              .cancel:hover,
              .cancel:focus {
                border-color: $primaryColor;
              }
            }

            .requestStatus {
              display: flex;
              align-items: baseline;

              & > * {
                font-size: 1.25em;
              }
              .processing {
                @include spinner;
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }

    .mcModal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1000;
      overflow: hidden;
      outline: 0;
      background-color: rgba(0, 0, 0, 0.8);
      cursor: auto;

      .mcModalContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .mcModalBody {
          position: relative;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            border-radius: 3px;
          }
        }
      }

      .close {
        @include imageActionBtn;
        position: absolute;
        background-image: url("assets/close.svg");
        &:hover,
        &:focus {
          transform: rotate(360deg);
          transition-duration: 500ms;
        }
      }
    }

    .swStatus {
      position: fixed;
      bottom: 30px;
      margin: 0px 20px;
      border-radius: 5px;

      & > * {
        font-size: 1.25rem;
      }

      .updateAvailable,
      .updateDone {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        color: $primaryColor;
        background-color: $secondaryColor;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid $primaryColor;
        color: $secondaryColorInverted;

        button {
          padding: 5px 10px;
          margin: 10px;
          font-size: inherit;
          font-weight: bold;
          font-family: $bodyFontFamily;
          background-color: transparent;
          border: none;
          text-decoration: underline;
          color: $primaryColor;
        }

        .close {
          @include imageActionBtn;
          border: none;
          background-image: url("assets/close.svg");
          width: 25px;
          height: 25px;

          &:focus {
            @include focus;
          }
        }

        & > * {
          margin: 0px 10px;
        }
      }

      .updateDone {
        color: $primaryColor;
        border: 1px solid $secondaryColorInverted;
      }
    }

    .aboutme {
      display: flex;
      flex-direction: column;
      color: $secondaryColorInverted;
      background-color: $secondaryColor;
      font-size: 1.25rem;
      max-width: 1024px;
      margin: 15px;
      border-radius: 4px;
      padding: 35px 30px 30px 45px;
      overflow: auto;
      box-sizing: border-box;
      line-height: 2.5rem;

      section:nth-child(1) {
        display: flex;
        .intro {
          display: flex;
          flex-direction: column;
          width: 70%;
          margin-bottom: 15px;
          .title {
            font-size: 3.75rem;
            font-family: $headingsFontFamily;
            margin-bottom: 20px;
          }
        }
        .profile {
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
          line-height: 4.5rem;
          margin: 1.25rem 0;

          .picture {
            width: 150px;
            height: 150px;
            background-image: url("./assets/vamsi_dp.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 50%;
            border: 1px solid $primaryColor;
          }
          .name {
            color: $primaryColor;
            font-size: 2rem;
            font-weight: 600;
            font-family: $headingsFontFamily;
          }
          .social {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin-top: 5px;

            & > a {
              text-decoration: none;
              & > span {
                display: block;
                background-repeat: no-repeat;
                background-size: contain;
                width: 25px;
                height: 25px;
              }
              .whatsapp {
                background-image: url("./assets/whatsapp.svg");
              }
              .instagram {
                background-image: url("./assets/instagram.svg");
              }
              .facebook {
                background-image: url("./assets/facebook.svg");
              }
            }
          }
        }
      }

      section:nth-child(n + 3) {
        display: flex;
        flex-direction: column;
        margin: 12px 0px;
        & > span:nth-child(1) {
          color: $primaryColor;
          font-size: 1.75rem;
          font-weight: 600;
          font-family: $headingsFontFamily;
          text-decoration: underline;
        }
        ul {
          margin: 0;
        }
      }

      section:last-child > span:nth-child(1) {
        text-decoration: none;
      }
    }

    .highlight {
      font-family: $headingsFontFamily;
      font-size: 1.1em;
      font-weight: 600;
    }
  }

  .mcFooter {
    @include flexXalignCentered;
    justify-content: space-around;
    background-color: $secondaryColor;
    color: $secondaryColorInverted;
    font-size: 1rem;
    font-family: $headingsFontFamily;

    .column {
      display: flex;
      align-items: center;
    }

    .row {
      @include flexXalignCentered;

      .linkedin,
      .github {
        height: 1.25rem;
        width: 1.25rem;
        background-repeat: no-repeat;
        cursor: pointer;
      }

      .linkedin {
        display: inline-block;
        background-image: url("assets/linkedin.svg");
        background-position: center;
        margin-left: 0.5rem;
      }

      .github {
        display: inline-block;
        background-image: url("assets/github.svg");
        margin: 0 1rem;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}
