@import "./styles/fonts.scss";
@import "./styles/common.scss";
@import "./styles/handhelds.scss";
@import "./styles/tablets.scss";
@import "./styles/laptops.scss";
@import "./styles/desktops.scss";

.MC-App {
  font-family: "Caveat", cursive;
  font-weight: 400;

  .mcHeader {
    background-color: aliceblue;

    .logoSection .branding-title {
      font-weight: 700;
    }

    .actionSection .categories {
      font-family: "Caveat", cursive;
      outline    : none;
    }

    .categories {
      @include flexXjustifyCentered;

      .title {
        padding-right: 0.75em;
      }

      .categories-dd {
        position       : relative;
        display        : flex;
        justify-content: flex-start;
        font-size      : calc(10px + 1.5vmin);

        .selectedCategory {
          border       : 1px solid grey;
          border-radius: 4px;
          padding      : 0px 10px;
          font-size    : calc(10px + 1.25vmin);
          box-shadow   : 0px 4px 9px 0px rgba(0, 0, 0, 0.2);

          &::after {
            content  : '\00a0\00a0\25BC';
            font-size: 0.6em;
          }
        }

        ul,
        ul li ul {
          @include initDropdownState;
        }

        .selectedCategory:hover+ul,
        ul:hover {
          @include showDropdown;
          z-index: 1;
        }

        li {
          position: relative;
          padding : 5px 0px 5px 10px;

          &:hover {
            cursor          : pointer;
            background-color: #ddd;
          }
        }

        ul li:hover ul,
        ul li:focus-within ul,
        ul li ul:hover {
          @include showDropdown;
          top    : 60%;
          left   : 60%;
          z-index: 10;
        }
      }
    }

    .profiles-handheld {
      display: none;
    }
  }

  .mcBody {
    position: relative;
    height  : calc(100vh - 5vmax);
    @include flexXjustifyCentered;

    .upload-form {
      position       : absolute;
      display        : flex;
      flex-direction : column;
      align-items    : flex-start;
      justify-content: space-evenly;
      height         : 120px;
      top            : 30%;
      transform      : translateY(-50%);

      input[type="submit"],
      input[type="button"] {
        width        : 10em;
        font-size    : 1.5em;
        border-radius: 4px;
        outline      : none;
        font-family  : "Caveat", cursive;
      }

      input[type="submit"] {
        font-weight: 600;
      }

      input[type="file"] {
        visibility: hidden;
        height    : 1px;
        width     : 1px;
      }
    }
  }
}