@import "./styles/fonts.scss";
@import "./styles/common.scss";
@import "./styles/handhelds.scss";
@import "./styles/tablets.scss";
@import "./styles/laptops.scss";
@import "./styles/desktops.scss";

@mixin spinner {
  background-image: url('assets/loading.svg');
  display         : inline-block;
  animation       : rotation 1.75s infinite linear;
}

.MC-App {
  font-family: "Caveat", cursive;
  font-weight: 400;

  .mcHeader {
    position        : fixed;
    width           : 100%;
    z-index         : 1;
    background-color: $secondaryColor;
    color           : $secondaryColorInverted;

    .logoSection {
      cursor: pointer;

      .logo {
        background-image   : url('logo.svg');
        background-repeat  : no-repeat;
        background-position: center;
      }

      .branding-title {
        font-weight: 700;
      }
    }

    .actionSection {
      .profiles>* {
        width         : 4vmin;
        height        : 4vmin;
        line-height   : 4vmin;
        text-align    : center;
        vertical-align: middle;
        border-radius : 50%;
        border        : 1px solid $secondaryColorInverted;
      }

      .categories {
        font-family: "Caveat", cursive;
        outline    : none;
      }

      .profiles-handheld {
        display: none;
      }
    }
  }

  .mcBody {
    position        : relative;
    color           : $secondaryColor;
    background-color: $secondaryColorInverted;
    @include flexXjustifyCentered;

    .upload-form {
      position       : absolute;
      display        : flex;
      flex-direction : column;
      align-items    : flex-start;
      justify-content: space-evenly;
      color          : $secondaryColor;
      height         : 300px;
      top            : 30%;
      transform      : translateY(-50%);

      &>* {
        width: 100%;
      }

      input[type="submit"],
      input[type="button"],
      textarea,
      .categories {
        font-size    : 1.5em;
        border-radius: 4px;
        outline      : none;
        font-family  : "Caveat", cursive;
      }

      textarea {
        resize: none;
        border: 1px solid $secondaryColor;

        &.error {
          border: 1px solid red;
        }
      }

      .categories {
        .title {
          font-size: 0.75em;
        }

        .selectedCategory {
          box-shadow: none;
        }
      }

      .resolutionCbToggles {
        width          : 100%;
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-evenly;

        &>* {
          margin: 0px 1vmin;
        }
      }

      input[type="submit"] {
        font-weight: 600;
      }

      input[type="file"] {
        visibility: hidden;
        height    : 1px;
        width     : 1px;
      }

      .requestStatus {
        &>div {
          display    : flex;
          align-items: center;

          .processing {
            @include spinner;
            width : 16px;
            height: 16px;
          }
        }

        .success {
          color: $primaryColor;
        }

        .error {
          color: red;
        }
      }
    }

    .category-home {
      position: relative;
      width   : 100vw;

      .fetchingImages {
        position: absolute;
        top     : 0;
        left    : 0;
        right   : 0;
        bottom  : 0;

        .spinner {
          @include spinner;
          position: absolute;
          width   : 8vmin;
          height  : 8vmin;
          top     : 40%;
          left    : 50%;
        }
      }

      &>.imageContainer {
        width: 100%;

        picture {
          width: 100%;

          img {
            display: block;
            width  : 100%;
          }
        }
      }

      .images-container {
        @include flexXjustifyCentered;
        flex-wrap: wrap;

        &>* {
          &:not(.panorama):not(.portrait) {
            flex-basis: 46vw; //keeping aspect ratio => 3:2
            height    : calc(46vw * .666); //change them both simultaneously
          }

          margin       : 1%;
          border       : 1px solid #40383838;
          border-radius: 5px;
          box-shadow   : 2px 2px 10px #40383838;
          cursor       : pointer;

          picture {
            width: 100%;

            img {
              display      : block;
              width        : 100%;
              border-radius: 5px;
            }
          }
        }
      }
    }

    .mcModal {
      position        : fixed;
      top             : 0;
      right           : 0;
      bottom          : 0;
      left            : 0;
      z-index         : 1000;
      overflow        : hidden;
      outline         : 0;
      background-color: rgba(0, 0, 0, 0.8);
      cursor          : auto;

      .mcModalContent {
        position : absolute;
        top      : 50%;
        left     : 50%;
        transform: translate(-50%, -50%);

        .mcModalBody {
          position: relative;
          width   : 100%;
          height  : 100%;

          img {
            width        : 100%;
            height       : 100%;
            border-radius: 3px;
          }

          .description {
            position: absolute;
            left    : 0;
            bottom  : 0;
          }
        }
      }

      .close {
        position           : absolute;
        background-image   : url('assets/close.svg');
        width              : 30px;
        height             : 30px;
        top                : 15px;
        right              : 15px;
        background-repeat  : no-repeat;
        background-position: center;
        cursor             : pointer;
      }
    }
  }

  .mcFooter {
    @include flexXalignCentered;
    justify-content : center;
    background-color: $secondaryColor;
    color           : $secondaryColorInverted;
    height          : 8vmin;

    .row {
      @include flexXalignCentered;

      .gmail,
      .github {
        height           : 3vmin;
        width            : 3vmin;
        background-repeat: no-repeat;
        cursor           : pointer;
      }

      .gmail {
        display         : inline-block;
        background-image: url('assets/gmail.svg');
        margin-right    : 20px;
      }

      .github {
        display         : inline-block;
        background-image: url('assets/github.svg');
      }
    }

    a {
      text-decoration: underline;
    }
  }
}